$background: #F9FAFF;
$accent: #FF6838;
$default: #31352B;
$title: #363853;


%rubik-400 {
    font-family: "Rubik-Regular", sans-serif;
    font-weight: 400px;
  }
  
  %rubik-500 {
    font-family: "Rubik-Medium", sans-serif;
    font-weight: 500px;
  }
  
  %italic-400 {
    font-family: "Rubik-Italic", sans-serif;
    font-weight: 400px;
  }